n8n/TradingView.json
{
  "name": "TradingView",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        1552
      ],
      "id": "b7bd4558-3290-4b6c-820b-381b246cfd43",
      "name": "Telegram Trigger",
      "webhookId": "61b2a9d1-a726-481f-9939-3eb8c3fa919b",
      "credentials": {
        "telegramApi": {
          "id": "dacSU4uECSczPV1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d9c5f24a-22ad-4bba-88f4-05d32db8c29d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "文字"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "590861ce-90e5-4d06-8fd8-2aa4ca1d364f",
                    "leftValue": "={{ $json.message.sticker }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "小圖示"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f45ba1be-9e58-4fa5-93a6-a76d7d28ab78",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "圖片"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -528,
        1536
      ],
      "id": "0789bd5b-e912-4ba0-8c0a-6667e7579b6c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "data",
        "options": {
          "systemMessage": "你負責圖片分析,收到資料後會反饋辨認結果,回饋的時候不要使用html或markdown語法"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        2128
      ],
      "id": "8db27a73-7281-435c-9cc4-8339e2041a03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        2384
      ],
      "id": "73b092d5-10ce-4bc3-99ab-da217d0b44bb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "2l1f8rxYnD6I7JfD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        2128
      ],
      "id": "e997dc12-2f21-43f0-b32a-a73f96b17ead",
      "name": "Send a text message",
      "webhookId": "b9256321-9b2c-4051-9e9c-1c6807504581",
      "credentials": {
        "telegramApi": {
          "id": "dacSU4uECSczPV1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.sticker.thumbnail.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        1920
      ],
      "id": "1612dfcf-d894-401e-98e0-5aba807a9c26",
      "name": "取出小圖示",
      "webhookId": "f48649ba-f360-421f-93e9-a3f08b934f0b",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dacSU4uECSczPV1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        2128
      ],
      "id": "314a19e3-2a09-4d7d-bbae-29b3a2a79fd6",
      "name": "取出圖片",
      "webhookId": "f48649ba-f360-421f-93e9-a3f08b934f0b",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dacSU4uECSczPV1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1520
      ],
      "id": "9f9ae987-576c-4cf7-81fc-54b6ee2bdfa1",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "2l1f8rxYnD6I7JfD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "你是一個專業秘書,使用Google Calender,並適當回答問題,回答問題的時候不要使用html或markdown語法"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        1264
      ],
      "id": "4f4cf395-c20d-448f-8d96-359686205581",
      "name": "任務分類",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        1008
      ],
      "id": "90ee7ffc-6c60-4e2f-a2dc-d201bc7f5d60",
      "name": "Send a text message1",
      "webhookId": "b9256321-9b2c-4051-9e9c-1c6807504581",
      "credentials": {
        "telegramApi": {
          "id": "dacSU4uECSczPV1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        1552
      ],
      "id": "204e30cf-648b-46bf-9cd2-94e65d010f83",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "puremars2k10@gmail.com",
          "mode": "list",
          "cachedResultName": "SeanMa"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        304,
        1520
      ],
      "id": "1a5e7786-fe19-435d-bac4-85c2cc2e35af",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ojgy7WWx6CdmgbGl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "puremars2k10@gmail.com",
          "mode": "list",
          "cachedResultName": "SeanMa"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        1520
      ],
      "id": "d5ffdc99-7609-44e7-b4ad-3e808204e532",
      "name": "Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ojgy7WWx6CdmgbGl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "puremars2k10@gmail.com",
          "mode": "list",
          "cachedResultName": "SeanMa"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        592,
        1520
      ],
      "id": "f03b7dfc-4a48-4d7a-a5cf-d2eaf1d2484a",
      "name": "Get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ojgy7WWx6CdmgbGl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "puremars2k10@gmail.com",
          "mode": "list",
          "cachedResultName": "SeanMa"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        1520
      ],
      "id": "40b746ef-085a-40b6-9ce6-7c0eb4238f92",
      "name": "Get many",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ojgy7WWx6CdmgbGl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"message\":\"content\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        1696
      ],
      "id": "11bfeb6a-98b6-4631-af63-03830c380b53",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram/push",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        720
      ],
      "id": "7ce6c1ba-c31a-492d-b191-a31abdd1bb10",
      "name": "Webhook",
      "webhookId": "ff3a61ef-7ca9-4758-bfe5-735cc4a7b092"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        944
      ],
      "id": "9dd3d786-ccda-47e5-8fbe-cbe23747f19f",
      "name": "When chat message received",
      "webhookId": "7099df2b-963f-4c76-a928-792890a5f1cc"
    },
    {
      "parameters": {
        "chatId": "=732924840",
        "text": "={{ $json.chatInput }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        944
      ],
      "id": "2c7ce5e0-9571-4d58-a1a0-76bed16e2d5e",
      "name": "Send a text message2",
      "webhookId": "b9256321-9b2c-4051-9e9c-1c6807504581",
      "credentials": {
        "telegramApi": {
          "id": "dacSU4uECSczPV1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=732924840",
        "text": "=品項:{{ $json.body.item }}\n週期:{{ $json.body.interval }}\n時間:{{ DateTime.fromISO($json.body.time, { zone: \"utc\" }).setZone(\"Asia/Taipei\").toFormat(\"yyyy-LL-dd HH:mm:ss\") }}\n動作:{{ $json.body.action }}\n價格:{{ $json.body.price }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        720
      ],
      "id": "654a0d19-a635-4102-9163-e017e67cd713",
      "name": "Send a text message3",
      "webhookId": "b9256321-9b2c-4051-9e9c-1c6807504581",
      "credentials": {
        "telegramApi": {
          "id": "dacSU4uECSczPV1f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1yAZuGhjzqXTrr9Z_QE0Xn_rQE8l08TA5TqWLLL67hq4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "actions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yAZuGhjzqXTrr9Z_QE0Xn_rQE8l08TA5TqWLLL67hq4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "item": "={{ $json.body.item }}",
            "interval": "={{ $json.body.interval }}",
            "time": "={{ DateTime.fromISO($json.body.time, { zone: \"utc\" }).setZone(\"Asia/Taipei\").toFormat(\"yyyy-LL-dd HH:mm:ss\") }}",
            "action": "={{ $json.body.action }}",
            "price": "={{ $json.body.price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interval",
              "displayName": "interval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        512
      ],
      "id": "5bee8538-9cb7-4ef0-83a2-061387272284",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iCN0p763uAy5TDfW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "任務分類",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取出小圖示",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "取出圖片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出小圖示": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取出圖片": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "任務分類",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "任務分類": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "任務分類",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "任務分類",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "ai_tool": [
        [
          {
            "node": "任務分類",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "任務分類",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many": {
      "ai_tool": [
        [
          {
            "node": "任務分類",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "452b9cb4-24ef-4042-9ed2-0eb2b8a2e530",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f34eba09f30856cefc996f1a8a8464f5a89f9b934e4c23b6acc57223feb06828"
  },
  "id": "ABRpJNp9gtobysW2",
  "tags": []
}